{
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "rules": {
    "semi": 0,
    "babel/semi": 0,
    "consistent-return": 0,
    "space-before-function-paren": 0,
    "babel/new-cap": 1,
    "babel/camelcase": 1,
    "babel/no-invalid-this": 1,
    "babel/object-curly-spacing": 1,
    "babel/quotes": 0,
    "babel/no-unused-expressions": 1,
    "babel/valid-typeof": 1
  }
}